.who-are-we-section {
    text-align: center;
    background: #f6f6f6;
    padding: 20px;
}

.who-are-we-section .section-title {
    text-transform: uppercase;
    padding: 16px 0;
    text-align: center;
}

.who-are-we-section .section-title::after {
    content: "";
    width: 20px;
    height: 1px;
    background: #000;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.who-are-we-section .section-desc {
    font-size: 0.76em;
    color: #555;
    padding-bottom: 20px;
}

.member {
    overflow: hidden;
}

.team-members {
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    max-width: 600px;
    margin: 0 auto;
}

.team-members .member {
    background: #ccc;
    font-size: 2rem;
    text-align: center;

}

.team-members .inner-wrapper {
    position: relative;
    height: 250px;
}

.team-members .inner-wrapper img {
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-members .inner-wrapper .name-and-role {
    background: rgba(247, 72, 61, 0.83);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.4em;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.team-members .name-and-role div span {
    display: block;
}

@media (min-width: 50em) {
    .who-are-we-section {
        padding: 20px 0;
    }

    .who-are-we-section .content {
        display: flex;
    }

    .who-are-we-section .section-desc {
        width: 300px;
    }

    .who-are-we-section {
        text-align: initial;
    }

    .who-are-we-section .section-title {
        text-align: initial;
    }

    .who-are-we-section .section-title::after {
        margin: 20px 0;
    }

    .who-are-we-section .side-text {
        padding-top: 100px;
    }

    .team-members {
        transform: translateX(-16px) rotate(-45deg);
    }

    .team-members .inner-wrapper {
        width: 100%;
        height: 100%;
    }

    .team-members {
        grid-template-columns: 130px 130px 130px 130px 130px;
        grid-template-rows: 130px 130px 130px;
        margin: 5rem auto;
        transform: rotate(-45deg);
    }

    .team-members .inner-wrapper img {
        position: absolute;
        width: 150%;
        height: 150%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .team-members .inner-wrapper .name-and-role {
        opacity: 0;
    }

    .team-members .member:hover .inner-wrapper .name-and-role {
        opacity: 1;
        background: rgba(247, 72, 61, 0.83);
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        font-size: 0.4em;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;

    }

    .team-members .member:hover .inner-wrapper .name-and-role div {
        transform: rotate(45deg);
    }

    .team-members .member:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .team-members .member:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 2;
    }

    .team-members .member:nth-child(6) {
        grid-column: 4 / 5;
        grid-row: 2;
    }

    .team-members .member:nth-child(7) {
        grid-column: 4 / 5;
        grid-row: 3;
    }

    .team-members .member:nth-child(8) {
        grid-column: 5 / 6;
        grid-row: 3;
    }

}